@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url('../assets/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: local('Gilroy'), url('../assets/fonts/gilroy/Gilroy-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-UltraLight';
    src: local('Gilroy'), url('../assets/fonts/gilroy/Gilroy-UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy'), url('../assets/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Gilroy', sans-serif;
}

.custom-card {
    box-sizing: border-box;
    line-height: 1.5714285714285714;
    background: #ffffff;
    border-radius: 8px;
}

.custom-card-body {
    padding: 2px 15px 10px 15px;
}
    .custom-card-body .title {
        font-size: 22px;
        font-weight: 500;
    }
    .custom-card-body .subtitle {
        font-size: 14px;
    }
    .custom-card-body .value{
        font-size: 3rem;
        font-weight: 700;
    }

    .custom-card-footer {
        padding: 10px 15px;
        background-color: #e9e5e5;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        cursor: pointer;
    }