################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MongoDB.txt
.vs/
/jump-server.pem
/jumper-server.ppk
/maink.ppk
